@using RestaurantMenuProject.Common
@using RestaurantMenuProject.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">


    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark tab" asp-area="" asp-controller="Order" asp-action="All" asp-route-id="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value" title="Orders">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark tab" asp-area="" asp-controller="Basket" asp-action="Index" title="Manage">Basket</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark tab" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
        </li>
    }
     else
    {
            <li class="nav-item">
                <a class="nav-link text-dark tab" asp-area="identity" asp-page="/account/register">register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark tab" asp-area="identity" asp-page="/account/login">admin</a>
            </li> 
    } 
</ul>